@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@1&family=Galada&family=Montserrat+Subrayada:wght@700&family=Source+Code+Pro:wght@700&display=swap');

.fondamento {
	font-family: 'Fondamento', cursive;
}
.galada {
	font-family: 'Galada', cursive;
}
.montserrat {
	font-family: 'Montserrat Subrayada', sans-serif;
}
.source {
	font-family: 'Source Code Pro', monospace;
}

.textLayer {
	text-align: center;
}

/* .textDivOptions {text-align: center;}*/

#top-container {
	display: flex;
	justify-content: space-around;
}

.Route {
	background-color: #222222;
}

.image {
	float: left;
}

h1,
h2 {
	text-align: center;
}
