.App {
  text-align: center;
  background: linear-gradient(#abb1b6) ;
}

Button {
  background: rgb(7, 79, 112);
  border: 0;
  width: 100px;
  height: 50px;
  font-size: 15px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  outline: none;
  transition: 0.3s linear;
  margin-bottom: 20px;
  margin-top: 20px;
}

Button:hover {
  opacity: .5;
}

.recatpcha {
  background: black;
}

  .Wcont {
  color: white;
  background-color: #081620;
  padding: 2vw;
  margin: 2vw;
  font-size: 3vw;
  }