.App {
  text-align: center;
  font-family: "montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url(./Canva\ -\ Jack\ Skelington\ Vinyl\ Figure\ \(3\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.h2 {
  color: white;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  text-transform: uppercase;
  
}

.h3 {
  color: white;
}

p {
  color: white;
}

h1 {
  color: white;
}

Button {
  background: linear-gradient(#333232, #fafafa, #8f8b8b);
  border: 0;
  width: 100px;
  height: 60px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  color: rgb(12, 12, 12);
  font-weight: bold;
  outline: none;
  transition: 0.3s linear;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
}

Button:hover {
  opacity: .5;
}

.recatpcha {
  background: black;
}

  